:root {
    --glass-bg: rgba(255, 255, 255, 0.85);
    --glass-blur: 10px;
    --neumorphic-shadow-dark: #bebebe;
    --neumorphic-shadow-light: #ffffff;
    --neumorphic-img-shadow-dark: #bebebe;
    --neumorphic-img-shadow-light: #ffffff;
}

[data-theme="dark"] {
    --glass-bg: rgba(30, 30, 30, 0.85);
    --glass-blur: 10px;
    --neumorphic-shadow-dark: #1f1f1f;
    --neumorphic-shadow-light: #353535;
    --neumorphic-img-shadow-dark: #1f1f1f;
    --neumorphic-img-shadow-light: #353535;
}

/* 
    MARK: Design paradigms 
*/
.glass {
    background: var(--glass-bg) !important;
    backdrop-filter: blur( var(--glass-blur) ) !important;
    -webkit-backdrop-filter: blur( var(--glass-blur) ) !important;
    transition: background-color 0.3s ease;
}

.neumorphism {
    background: var(--body-bg);
    box-shadow:  5px 5px 40px var(--neumorphic-shadow-dark),
                -5px -5px 20px var(--neumorphic-shadow-light);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

[data-theme="dark"] .neumorphism {
    box-shadow:  5px 5px 20px var(--neumorphic-shadow-dark),
                -5px -5px 20px var(--neumorphic-shadow-light);
}

.neumorphicButton {
    background: var(--body-bg);
    box-shadow:  3px 3px 8px var(--neumorphic-shadow-dark),
                -3px -3px 8px var(--neumorphic-shadow-light) !important;
    transition: box-shadow 0.3s ease;
}

.neumorphicIMG {
    filter: drop-shadow(1px 1px 1px var(--neumorphic-img-shadow-dark)) drop-shadow(-1px -1px 2px var(--neumorphic-img-shadow-light));
    transition: filter 0.3s ease;
}
