:root {
    --body-bg: #1a1a1a;
    --text-color: #d4d1cb;
    --secondary-text-color: #aaaaaa;
    --primary-color: #009ADB ;
    --primary-hover-color: #00b3ff ;
    --primary-active-color: #2fc1ff ;
    --primary-text-color: #121212;
    --form-switch-bg: #444;
    --form-switch-checked-bg: var(--primary-color);
    --form-switch-border-color: rgba(255, 255, 255, 0.25);
    --main-bg-color: #151922;
}

.darkModeText {
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior-x: none;
    background-color: var(--body-bg) !important;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: var(--main-bg-color) !important;
}

.mainBody {
    background: var(--main-bg-color) !important;
    color: #fff;
    margin-top: 60px !important;
    position: relative;
    z-index: 2;
}
  
.mainBody p {
    max-width: 35em;
    font-size: 1.1em;
    line-height: 30px;
}

.faded {
    color: var(--secondary-text-color);
}

.container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
}