:root {
    --main-bg-color: #151922;
}
  
body {
    margin: 0;
    /* font-family: Helvetica, sans-serif; */
    background: var(--main-bg-color) !important;
}
  
/*
Parallax
*/
header {
    min-height: 40em;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
  
#MaskingImage {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.images {
    height: 100vh;
    overflow: hidden;
}
  
.images img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 130%;
    transition: 0.1s;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.img1 { z-index: 7; }
.img2 { z-index: 6; }
.img3 { z-index: 5; }
.img4 { z-index: 4; }
.img5 { z-index: 3; }
.img6 { z-index: 2; }
.img7 { z-index: 1; }
  
/*
Main body
*/

header::before {
    content: '';
    background: linear-gradient(
      0deg,
      var(--main-bg-color),
      rgba(0, 0, 0, 0)
    );
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.title {
    font-size: 6em;
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 5;
    user-select: none;
    pointer-events: none;
}

.description{
    font: bold;
    color: #fff;
}

/* scrolling pop up animation */
.description-animation{
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}