/*  
    MARK: Modals section 
*/
.modal.fade .modal-header {
    border-bottom: none;
    --bs-modal-header-padding: 0rem;
}

.modal-body {
    padding: 0px !important;
    overflow: visible !important;
}

.modal-content {
    height: max-content !important;
    background-color: var(--main-bg-color) !important;
    color: var(--text-color);
    border: 1px solid var(--dropdown-border-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Ensure modal header/footer text and close button adapt */
.modal-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
    transition: filter 0.3s ease;
}

.modal-title {
    color: var(--text-color);
}

/* .defaultImage:not(:first-of-type):not(:last-of-type) {
    max-height: 500px;
    margin: 8px;
}

.defaultImage:first-of-type {
    max-height: 500px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.defaultImage:last-of-type {
    max-height: 500px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.vscImage {
    border-radius: 20px;
}

.marsImage {
    border-radius: 10px;
}

.modal-body .video16x9 {
    aspect-ratio: 1920 / 1080;
    background-color: black;
    width: 100%;
}

.modal-body .video16x10 {
    aspect-ratio: 1920 / 1200;
    background-color: black;
    width: 100%;
} */